{% extends "base.html" %}

{% block content %}

<h1>Hello There</h1>

<div class="list-group">
    {% for inq in inquiries %}
        <a href='/front-inq/{{inq.id}}'><button type="button" class="list-group-item list-group-item-action">{{inq.title}}</button></a>
    {% endfor %}
</div>


{% endblock content %}