{% extends "base.html" %}

{% block content %}

    <form method="POST">

        <div class="list-group">
            {% for quest in questions %}
                <h3 class="list-group-item list-group-item-action">{{quest.title}}</h3>
                <div class="list-group btn-group" data-toggle="buttons">
                    {% for answ in quest.answers %}
                        {% if quest.multiansw %}
                            <label class="list-group-item list-group-item-action btn btn-secondary">
                                <input type="checkbox" name="multiansw" value="{{answ.text}}" autocomplete="off"> {{answ.text}}
                            </label>
                        {% else %}
                            <label class="list-group-item list-group-item-action btn btn-secondary">
                                <input type="radio" name="{{quest.title}}" value="{{answ.text}}" autocomplete="off"> {{answ.text}}
                            </label>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <button class="btn btn-success btn-lg" type="submit">Submit</button>
            </div>
        </div>

    </form>

{% endblock %}