{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>
                    <p>
                    It is a smart decesion to join us. You're smart. You are very smart.
                    You're loyal. You're a genuis. We appreciate that.
                    </p>
                </h3>
            </div>
        </div>

        <form method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="usermail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="username" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="userpass">Password</label>
                <input type="password" name="password" class="form-control" id="userpass" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}